
@font-face {
  font-family: "gerstner";
  src: url("fonts/GerstnerProgramm-Regular.otf")
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  background-attachment: fixed;
  font-family: gerstner;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;

}




.circle-container {
  display: flex;
  flex-direction: row;


}

.circle,
.circle2,
.circle3,
.circle4 {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle3 {
  margin-top: 150px;
  margin-left: -40px;
  /* background-color: rgb(254, 248, 131); */
   background: #50BAFF;
  background-attachment: fixed;
  color: white;

  animation: anim 9s linear infinite;
}


.text {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;

}



@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }

}

