* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "gerstner";
  src: url("fonts/GerstnerProgramm-Regular.otf")
}



body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: gerstner;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: hidden;

}


  div.a {
    width: 200px;
    height:200px;
    border-radius: 50%;
     background-color:rgb(255, 136, 0);
    position:fixed;
    z-index: 1000;
    mix-blend-mode: screen;
  }
  div.b {
    width: 200px;
    height:200px;
    border-radius: 50%;
     background-color:rgb(255, 136, 0);
    position:fixed;
    z-index: 1000;
    margin-top: 50vh;
    mix-blend-mode: screen;
  }
  div.c {
    width: 200px;
    height:200px;
    border-radius: 50%;
    margin-top: 100vh;
     background-color:rgb(255, 136, 0);
    position:fixed;
    z-index: 1000;
    mix-blend-mode: screen;
  }

.left-top {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
}

.right-top {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;

}

.cursorCircle {
	position: absolute;
  background-color: rgb(249, 153, 56);
	width: 500px;
	height: 500px;
  border-radius: 50%;
  z-index: 1000;
  mix-blend-mode: darken;
  pointer-events: none;
}


p {
  color: black;
  font-family: gerstner;
  font-size: 1.4rem;

}


.textContent     {
  position: absolute;
  margin-top: 70vh;
  width: 50vw;
  height: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;

}


.circle4 {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:100px;
  margin-bottom:100px;
  background-color: rgb(207, 151, 244);
  color: rgb(255, 255, 255);
  animation: anim 9s linear infinite;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}

.circle4:hover {
  background-color: black;
  color:white;
}

@media screen and (max-width: 600px) {
  .text h5 {
    font-size: 70%;
  }
  .circle4 {
    width: 200px;
    height: 200px;
    padding: 0;
  }
  .textContent {
    margin-top: 80vh;
    width: 70vw;
  }

  .left-top {
    font-size: 0.8rem;
  }
  .right-top {
    font-size: 0.8rem;
  }
  .cursorCircle {
    display: none;
  }
  .bigCircle1 {
	position: absolute;
  background-color: rgb(249, 153, 56);
	width: 500px;
	height: 500px;
  border-radius: 50%;
  margin-left: 30vw;
  z-index: 10;
  mix-blend-mode: darken;
  pointer-events: none;
  }





}

h5 {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}


#text4 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;

}

.text {
  width: 100%;
  height: 100%;

  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}



@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }

}



