* {
  cursor: none;
}

@font-face {
  font-family: "gerstner";
  src: url("fonts/GerstnerProgramm-Regular.otf")

}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: gerstner;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  min-height: 101%;

}

.cursorCircle {
	position: absolute;
  background-color: rgb(249, 153, 56);
	width: 500px;
	height: 500px;
  border-radius: 50%;
  z-index: 1000;
  mix-blend-mode: difference;
  pointer-events: none;
}


p {
  color: rgb(253, 253, 253);
  font-family: gerstner;
  font-size: 2rem;

}


.textContent     {
margin-top: 250vh;
  width: 50vw;
  height: 100%;

}


.circle-container {
  display: flex;
  flex-direction: row;

}

.circle,
.circle2,
.circle3 {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle {
background-color: rgb(246, 93, 93);
}

.circle2 {
  background-color: rgb(221, 123, 241);
}

.circle3 {
  margin-top: 150px;
  margin-left: -40px;
  background-color: rgb(57, 57, 238);
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
  font-size: 3rem;
  color: white;
  text-shadow: 4px 4px rgb(255, 255, 0);

}



@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }

}

