@font-face {
  font-family: "gerstner";
  src: url("fonts/GerstnerProgramm-Regular.otf")

}


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* background-image: url("assets/backg.jpg"); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: none;
  font-family: gerstner;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  min-height: 101%;

}



#canvas {
  width: 100vw;
  height: 100vh;
  margin-left: 300px;

}


.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  z-index: 1000;
  mix-blend-mode: difference;


  background-color:
rgb(231, 151, 23);


  height: 500px;
  width: 500px;
  transition: all 100ms ease-out;
}

.textContent {

}

h3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;

}

p {
  color: rgb(253, 253, 253);
  font-family: gerstner;
  font-size: 2rem;

}

.main { position:relative } /* Make this a positioned parent */
.textContent     {
  position:absolute;
  top:50%; left:30%;
    background-color: rgb(0, 0, 0);
  width: 50vw;
  height: 50vh;
}

a {
  text-decoration: none;
  font-size: 3.32rem;
  font-weight: bolder;
  color: black
}


.linky {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  align-items: center;
  animation-name: rotate;
  animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}